<div id="<%= dom_id article %>">
  <p>
    <strong>Titulo:</strong>
    <%= article.titulo %>
  </p>

  <%# <p>
    <strong>String:</strong>
    <%= article.string %>
  <%# </p> %> 

  <p>
    <strong>Contenido:</strong>
    <%= article.contenido %>
  </p>

  <%# <p>
    <strong>String:</strong>
    <%= article.string %>
  <%# </p> %> 

  <p>
    <strong>Publicado:</strong>
    <%= article.publicado %>
  </p>

  <%# <p>
    <strong>Boolean:</strong>
    <%= article.boolean %>
  <%# </p> %> 

</div>
